{% extends 'base.html.twig' %}
{% block title %}Start{% endblock %}
{% block body %}<h1>Paragony — MVP</h1>
    <p>Wejdź do <a href="/admin">panelu administracyjnego</a> i dodaj słowniki / paragony.</p>{% endblock %}
