:root {
    --root2: rgb(10, 10, 10);           /* bg-main, text-active-hover */
    --root3: rgb(23, 23, 23);           /* bg-dropdown */
    --root4: rgb(229, 229, 229);        /* text-primary */
    --root5: rgba(229, 229, 229, 0.5);  /* text-primary-alpha */
    --root6: rgb(255, 255, 255);        /* text-dropdown */
    --root7: rgb(162, 206, 255);        /* highlight, bg-active-hover */
    --root8: rgb(255, 0, 0);            /* highlight-active */
}

/* body */
body {background-color: inherit;}

/* body dla paragonów */
body .main-content {background-color: var(--root2);}

/* literki dla input-ów: Gospodarstwo..., Produkt... */
body .main-content form:is(.ea-new-form, .ea-edit-form) .form-select .ts-control :is(input, .item) {color: var(--root4);}

/* product dropdown */
body .main-content form:is(.ea-new-form, .ea-edit-form) .form-select .ts-dropdown.single {
    background-color: var(--root3);
    color: var(--root6);
}

/* widget: [product] add NNN... */
body .main-content form:is(.ea-new-form, .ea-edit-form) .form-select .ts-dropdown.single .ts-dropdown-content .create {color: var(--root5) !important;}

/* wybrane literki */
body .main-content form:is(.ea-new-form, .ea-edit-form) .form-select .ts-dropdown.single .ts-dropdown-content .option              .highlight {color: var(--root7);}
body .main-content form:is(.ea-new-form, .ea-edit-form) .form-select .ts-dropdown.single .ts-dropdown-content .option.active:hover .highlight {color: var(--root8);}

body .main-content form:is(.ea-new-form, .ea-edit-form) .form-select .ts-dropdown.single .ts-dropdown-content .active {background-color: var(--root3);}

body .main-content form:is(.ea-new-form, .ea-edit-form) .form-select .ts-dropdown.single .active:hover,
body .main-content form:is(.ea-new-form, .ea-edit-form) .form-select .ts-dropdown.single .ts-dropdown-content .option.active,
body .main-content form:is(.ea-new-form, .ea-edit-form) .form-select .ts-dropdown.single .ts-dropdown-content .option.selected.active {
    background-color: var(--root7);
    color: var(--root2);
}

/* wybrane literki bez hovera */
body .main-content form:is(.ea-new-form, .ea-edit-form) .form-select .ts-dropdown.single .ts-dropdown-content .option.active .highlight {color: var(--root8);}
