:root {
    --black: rgb(10, 10, 10);
    --graphite: rgb(23, 23, 23);
    --graphite-light: rgb(45, 45, 45);
    --white: rgb(229, 229, 229);
    --gray: rgba(229, 229, 229, 0.5);
    --blue: rgb(162, 206, 255);
    --red: rgb(255, 0, 0);
}

/* body */
body {background-color: inherit;}

/* body dla paragonów */
.main-content {background-color: var(--black);}

/* literki dla input-ów: Gospodarstwo..., Produkt... */
/* product dropdown */
form:is(.ea-new-form, .ea-edit-form) :is(
    .ts-control :is(input, .item),
    .ts-dropdown.single
) {
    background-color: var(--graphite);
    color: var(--white);
}

/* widget: [product] add NNN... NIE wybrany      */
.ts-dropdown-content .create {
    background-color: var(--graphite);
    color: var(--gray);
}

/* widget: [product] add NNN... wybrany */
/* podświetlone opcje select-a */
.ts-dropdown-content .create.active:hover,
.ts-dropdown-content .option:is(.active, .active:hover) {
    background-color: var(--blue);
    color: var(--graphite);
}

/* wybrane literki */
.ts-dropdown-content .option .highlight {color: var(--blue);}
.ts-dropdown-content .option:is(.active, .active:hover) .highlight {color: var(--red);}

/* =======================================
   ZEBRA: czarny / grafitowy + hover (jaśniejszy grafit)
   ======================================= */

.reports-table tbody tr:nth-child(odd)  td {
    background-color: var(--black) !important;
}

.reports-table tbody tr:nth-child(even) td {
    background-color: var(--graphite) !important;
}

.reports-table tbody tr:hover td {
    background-color: var(--graphite-light) !important;
}

