body { background-color: inherit; }

/* tło dla paragonów */
section.main-content, .main-content {background-color: rgb(10,10,10) !important;}

/* input Gospodarstwo */
div.ts-control div.item { color: rgb(229, 229, 229); }

/* input Produkt */
div.ts-control input { color: rgb(229, 229, 229); }

/* szukajka produkt*/
div.ts-dropdown.single {
    background-color: rgb(23, 23, 23);
    color: rgb(255, 255, 255);
}

/* wybrane literki */
div.ts-dropdown.single .highlight { color: #A2CEFF; }

.ts-dropdown .active:hover .highlight { color: red; }

.ts-dropdown .active {
    background-color: rgb(23, 23, 23) !important;
    color: rgb(229, 229, 229) !important;
}

.ts-dropdown .active:hover, .ts-dropdown-content .option.active  {
    background-color: #A2CEFF !important;
    color: rgb(10,10,10) !important;
}

/* wybrane literki bez hovera */
.ts-dropdown-content .option.active .highlight {
    color: red !important;
}

.ts-dropdown .create { color: rgba(229, 229, 229, 0.5) !important; }
